body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.backgroundhome {
    background-image: url("gambar/background.jpg!sw800");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

.logo {
    margin-right: auto;
    padding-left: 50px;
    width: 90px;
    height: 40px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
  
nav > a {
    width: 90px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-right: 50px;
}   

a:link, a:visited {
    color: #FFFFFF;
}

a:hover, a:active {
    color: #00eaff;
}

main p {
    color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 230px;
    margin-left: 80px;
    line-height: 70px;
    letter-spacing: 5px;
}

.backgroundabout {
    background-color: #000000;
}

.content {
    width: 600px;
    height: 600px;
    margin-top: 39px;
    margin-left: 150px;
    float: left ;
}

#title {
    color: #FFFFFF;
    font-size: 50px;
    float: left;
    width: 400px;
}

#explanation {
    color: #FFFFFF;
    font-size: 17px;
    text-align: justify;
    width: 470px;
    margin-right: 490px;
    float: left;
}

.image {
    float: right;
    background-color: slateblue;
    width: 200px;
    height: 400px;
    margin-top: 100px;
    margin-right: 160px;
}

.backgroundcontact {
    background-color: #000000;
}

.contentcontact {
    width: 600px;
    height: 600px;
    margin-top: 39px;
    margin-left: 150px;
    float: left ;
}

#titlecontact {
    color: #FFFFFF;
    font-size: 50px;
    float: left;
    width: 400px;
}

#explanationcontact {
    color: #FFFFFF;
    font-size: 18px;
    text-align: justify;
    width: 470px;
    margin-right: 490px;
    float: left;
    letter-spacing: 3px;
    line-height: 30px;
}

.containerform {
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    background-color: #00eaff;
}

.contentform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}



